services:
  backend:
    image: "library-backend:beta"
    build:
      context: ./server/.
    container_name: backend
    ports:
      - 8080:8080 # Maps port 8080 in the container to port 18080 on the host.
    environment:
      - AUTHORIZATION=${AUTHORIZATION}
    volumes:
      - ${base_dir}/server:/home/backend/app
      - ${base_dir}/mytempconfig:/config # To persist/save the database
    restart: unless-stopped

  frontend:
    image: "library-frontend:beta"
    build:
      context: ./client/.
    container_name: frontend
    ports:
      - 8000:8080 # Maps port 8080 in the container to port 8000 on the host.
    volumes:
      - ${base_dir}/client:/app
    depends_on:
      - backend
    restart: unless-stopped
