services:
  backend:
    image: "library-backend:beta"
    build:
      context: ./server/.
    container_name: backend
    ports:
      - 8080:8080 # Maps port 8080 in the container to port 18080 on the host.
    environment:
      - AUTHORIZATION=${AUTHORIZATION}
    volumes:
      - ${base_dir}/server:/home/backend/app
      - ${base_dir}/mytempconfig:/config # To persist/save the database
    restart: unless-stopped
