@import "reset.css";
@import "@fontsource-variable/alegreya";
@import "@fontsource/alegreya-sans/300.css";
@import "@fontsource/alegreya-sans/400.css";
@import "@fontsource/alegreya-sans/500.css";
@import "@fontsource/alegreya-sans/700.css";
@import "@fontsource/alegreya-sans/800.css";
@import "@fontsource/alegreya-sans/900.css";

:root {
  --sans: "Alegreya Sans", sans;
  --mono: "Alegreya Variable", serif;

  --primary: hsl(40, 80%, 80%);
  --secondary: hsl(40, 60%, 70%);
  --third: hsl(40, 90%, 90%);
  --border: hsl(40, 60%, 60%);
  /* --book: hsl(40, 70%, 60%); */
  /* --book: hsl(30, 60%, 60%); */
  /* --book: hsl(52, 90%, 90%); */
  --book-bkgr: hsl(40, 80%, 70%);
  /* --book-bkgr: burlywood; */

  --text: hsl(52, 90%, 10%);
  --text-labels: hsl(52, 30%, 30%);
}

body {
  font-family: var(--sans);
}

.grid.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto 1fr;
}

header.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
  background-color: var(--primary);
  overflow: auto;
}

/* Sidebar Navbar Styles */

.sidebar {
  background-color: var(--secondary);
  border: 1px solid var(--border);
  overflow: hidden;
  padding-top: 1rem;
  font-size: 1.7rem;
}

/* Shelf Styles */
.shelves {
  list-style-type: none;
  padding: 1rem 0;
}

.shelf {
  display: flex;
  gap: 1rem;
  padding: 1.3rem 1rem;
  border-bottom: 2px solid var(--border);
  color: var(--text);
  text-align: center;
  text-decoration: inherit;
  font-style: inherit;
  font-weight: 600;

  &.active {
    background-color: var(--primary);
  }
}

.shelf > p {
  line-height: 1.2;
  font-size: clamp(1.4rem, 1.8vw, 2rem);
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.shelf > .icon {
  color: var(--text);
  font-size: 2.2rem;
}

/* Header Styles */
.header {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 7fr auto;
  align-items: center;
  gap: 10rem;
  background-color: var(--primary);
}

.logo {
  background-color: hsl(from white h s l / 0.3);
  padding: 0 1rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  border: none;
}

.logo .icon {
  color: var(--text);
  font-size: 3rem;
}

.logo h1 {
  color: var(--text);
  font-size: 2.4rem;
}

.usercard button {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  margin-right: 4rem;
  cursor: pointer;
  background: inherit;
  color: black;
  border: none;
}

.usercard .icon {
  color: var(--text);
  font-size: 3.4rem;
}

.usercard > dialog {
  padding: 0;
  margin: 0;
  border: 3px solid var(--border);
  left: 100%;
  top: 4.6rem;
  transform: translateX(-20rem);

  &::backdrop {
    background: none;
  }
}

.menu {
  --btn: hsl(from var(--primary) h s calc(l * 0.8));
  --btn-hover: hsl(from var(--btn) h calc(s * 0.8) calc(l * 0.8));
  list-style-type: none;
  padding: 0;
  width: 14rem;
}

.menu > li {
  display: flex;
  background-color: var(--btn);

  &:hover {
    background-color: var(--btn-hover);
  }
}

.usercard a {
  display: flex;
  place-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  flex: 1;
  text-decoration: inherit;
  color: var(--text);
}

.logout:hover {
  background-color: hsl(0 80% 50%);
}

.searchbar {
  --search: hsl(from var(--secondary) h calc(s * 0.9) calc(l * 1.25));
  background-color: var(--search);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 1px darkgray solid;
  width: clamp(10rem, 100%, 40rem);
}

.searchbar input {
  background-color: transparent;
  border: none;
  flex: 1;
  padding: 0.6rem;
  font-family: var(--mono);
}

.searchbar input:focus {
  outline: none;
}

.searchbar .icon {
  color: var(--text);
  padding: 10;
  font-size: 2rem;
  margin-right: 0.3rem;
}

/* Book Cards Styles */
.book-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  padding: 2rem 5rem;
  grid-auto-rows: max-content;
  gap: 2rem;
}

.book-card {
  background-color: var(--book-bkgr);
  border: 2px solid var(--border);
}

.book-card > a {
  color: var(--text);
  text-decoration: inherit;
  font-style: inherit;
}

.book-card .cover {
  object-fit: fill;
  width: 100%;
  height: 20rem;
}

.book-card p {
  margin: 0.1rem 0.3rem;
  line-height: 1.3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--mono);
}

.book-card .name {
  font-size: 1.2rem;
}

/* Authentication Styles */

.auth {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--third);
  font-size: 1.8rem;
}

.auth > div {
  display: grid;
  background-color: var(--primary);
  width: clamp(30rem, 50vw, 50rem);
}

.auth button {
  --btn: hsl(from var(--primary) h s calc(l * 0.8));
  --btn-hover: hsl(from var(--btn) h s calc(l * 1.1));
  background-color: var(--btn);
  border-radius: 1rem;
  color: var(--text);

  &:hover {
    background-color: var(--btn-hover);
  }
}

.auth form {
  display: grid;
  justify-self: center;
  gap: 3rem;
  padding: 5rem 0 7rem;
}

/* form inputs with label */
.auth form > div {
  display: grid;
  gap: 0.6rem;
  color: var(--text-labels);
}

.auth nav {
  display: flex;
  gap: 0.2rem;
  background-color: var(--third);
  border-bottom: 0.2rem solid var(--third);
  color: var(--text);
}

.auth a {
  --btn: hsl(from var(--secondary) h s l);
  --btn-hover: hsl(from var(--btn) h s calc(l * 0.8));
  text-align: center;
  flex: 1;
  padding: 2rem;
  background-color: var(--btn-hover);
  font-weight: bolder;
  text-decoration: inherit;
  color: inherit;

  &:hover {
    background-color: var(--btn);
  }
}

.auth input {
  color: var(--text);
  font-size: 2.2rem;
}

.auth .error {
  color: hsl(0 80% 50%);
}

/* Book Info Styles */
.book-shelves {
  --bkgr-bar: hsl(from var(--primary) h calc(s * 0.7) calc(l * 0.7));
  padding: 1rem;
  padding-left: 3rem;
  background-color: var(--bkgr-bar);
  display: flex;
  gap: 2rem;
}

.book-shelves > button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  place-items: center;
  font-size: 1.6rem;
  font-family: var(--mono);
  color: var(--text);

  & > .icon {
    font-size: 3rem;
  }
}

.modal > form {
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: var(--mono);
  color: var(--text);
}

.modal > form > fieldset {
  margin: 0;
  padding: 1rem 0 2rem;
  border: none;

  & > legend {
    font-weight: bold;
  }
}

/* TODO: Sort out button's style and move it right */
.modal > form > button {
  display: block;
  margin-left: auto;
  padding: 0.6rem 2rem;
  background-color: var(--bgcl-hover);
  font-family: var(--mono);
  color: var(--text);
  font-weight: bold;
  border: 2px solid var(--primary);

  --btn: hsl(from var(--primary) h calc(s * 0.7) calc(l * 0.7));
  background-color: var(--bkgr-bar);
  &:hover {
    --btn: hsl(from var(--primary) h calc(s * 0.8) calc(l * 0.6));
    background-color: var(--btn);
  }
}

.checkboxes {
  display: flex;
  gap: 1rem;
  padding: 0.3rem 3rem;
  font-family: var(--mono);
  font-size: 1.8rem;
  color: var(--text);

  &:hover {
    color: var(--text-labels);
  }
}

/* TODO: Add enabled class */
input[type="checkbox"] {
  accent-color: var(--third);
  transform: scale(1.4);
  &:enabled {
    cursor: pointer;
  }
  &:not(:checked) {
    opacity: 0.8;
  }
}

.book-shelves > dialog {
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  &::backdrop {
    background-color: hsl(0, 0%, 0%, 0.4);
  }
}

.modal {
  --bkgr: hsl(from var(--primary) h calc(s * 0.8) calc(l * 0.8));
  display: flex;
  align-items: start;
  background: inherit;
  background-color: var(--bkgr);
  padding: 4rem 6rem;
}

.book {
  font-family: var(--mono);
  font-size: 1.8rem;
  color: var(--text);
  overflow: hidden;
  text-overflow: ellipsis;
}

/* TODO: OVERFLOW HIDDEN */
.description {
  padding: 2rem 0;
  text-align: justify;
  line-height: 2.4rem;
  text-indent: 2rem;
}

.book-info {
  padding: 2rem 4rem;
  padding-right: 10rem;
}

.book-info > div {
  display: flex;
  gap: 2rem;
  height: 50vh;
  font-style: var(--mono);
}

.metadata {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.metadata > .main {
  font-family: var(--sans);

  & > h1 {
    font-size: 5rem;
  }
  font-size: 2rem;
}

.metadata > .misc {
  display: flex;
  gap: 4rem;
  font-weight: 600;
  color: var(--text-labels);
  & > * {
    --bgcl: hsl(from var(--primary) h calc(s * 1.2) calc(l * 0.8));
    padding: 0.6rem 1.4rem;
    border-radius: 0.6rem;
    background-color: var(--bgcl);
    display: flex;
    gap: 0.4rem;
    place-items: center;
  }
}

.metadata > .misc > a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;

  &:hover {
    --bgcl-hover: hsl(from var(--bgcl) h s calc(l * 0.7));
    background-color: var(--bgcl-hover);
  }
}

.release-date {
  background-color: var(--third);
}

button.close {
  background: inherit;
  margin: 0;
  border: none;
  cursor: pointer;
  color: var(--third);
  &:hover {
    color: var(--primary);
    border-radius: 10rem;
  }

  & > .icon {
    font-size: 2rem;
  }
}

/* TODO: Make form label fill entire div */
