@import "reset.css";
@import "@fontsource-variable/alegreya";
@import "@fontsource/alegreya-sans/300.css";
@import "@fontsource/alegreya-sans/400.css";
@import "@fontsource/alegreya-sans/500.css";
@import "@fontsource/alegreya-sans/700.css";
@import "@fontsource/alegreya-sans/800.css";
@import "@fontsource/alegreya-sans/900.css";

:root {
  --sans: "Alegreya Sans", sans;
  --mono: "Alegreya Variable", serif;
  --lightest: #fab280;
  --darkest: #914409;
  --light: #ef954b;
  --dark: #ad5f26;
  --secondary: #dc7d27;
}

body {
  font-family: var(--sans);
}

.grid.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-columns: 1fr 8fr;
  grid-template-rows: auto 1fr;
}

header.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  /* padding: 1rem; */
  padding: 2rem 5rem;
  grid-auto-rows: max-content;
  gap: 2rem;
  background-color: var(--darkest);
  overflow: auto;
}

/* Sidebar Navbar Styles */

.sidebar {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar .button {
  display: block;
  padding: 0 1rem;
  color: var(--lightest);
  text-align: center;
  text-decoration: none;
  font-style: none;
}

.sidebar .button:first-of-type {
  padding-top: 2rem;
}

.sidebar .current {
  border-left: green 0.5rem solid;
  background-color: var(--secondary);
}

.sidebar p {
  max-width: 9ch;
  font-size: 1.4rem;
  line-height: 1.2;
}

/* Header Styles */
.header {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 7fr auto;
  align-items: center;
  gap: 10rem;
  background-color: var(--secondary);
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  background: inherit;
  color: inherit;
  text-decoration: inherit;
  border: none;
}

.logo .icon {
  font-size: 3rem;
}

.logo h1 {
  font-size: 2.4rem;
}

.usercard {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  margin-right: 4rem;
}

.usercard .icon {
  font-size: 3rem;
}

.searchbar {
  background-color: lemonchiffon;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 1px darkgray solid;
  width: clamp(10rem, 100%, 40rem);
}

.searchbar input {
  background-color: transparent;
  border: none;
  flex: 1;
  padding: 0.6rem;
  font-family: var(--mono);
}

.searchbar input:focus {
  outline: none;
}

.searchbar .icon {
  color: brown;
  padding: 10;
  font-size: 2rem;
  margin-right: 0.3rem;
}

/* Book Styles */
.book {
  background-color: var(--light);
}

.book .cover {
  object-fit: fill;
  width: 100%;
  height: 20rem;
}

.book p {
  margin: 0.1rem 0.3rem;
  line-height: 1.3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--mono);
}

/* TODO: Make it bigger than author */
.book .name {
  font-size: 1.2rem;
}

/* Authentication Styles */

main.auth {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: burlywood;
}
/* grid makes all of the inputs ontop of eachother */
main.auth > div {
  display: grid;
  /* padding: 0 2rem 5rem; */
  /* place-items: center; */
  gap: 2rem;
  background-color: white;
}

.auth {
  font-size: 1.8rem;
}

.auth button {
  width: 100%;
}

.auth {
  background-color: red;
}

.auth form {
  display: grid;
  gap: 3rem;
  padding: 0 2rem 5rem;
}

/* form inputs with label */
.auth form > div {
  display: grid;
  gap: 0.6rem;
}

.auth nav {
  display: flex;
  background-color: lightsalmon;
}

.auth a {
  text-align: center;
  flex: 1;
  padding: 2rem;
  border: 1px solid white;
  font-weight: bolder;
  text-decoration: inherit;
  color: inherit;
}

.auth input {
  font-size: 2.2rem;
}

.auth .error {
  color: red;
}
