@import "reset.css";

.grid.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-columns: auto 12fr;
  grid-template-rows: auto 1fr;
}

.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
}

.header {
  display: flex;
  padding: 1.5rem 2rem;
  align-items: center;
  gap: 10rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  padding: 1rem;
  grid-auto-rows: max-content;
  gap: 2rem;
  background-color: grey;
  overflow: auto;
}

.book {
  background-color: white;
}

.sidebar {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar .button {
  display: block;
  padding: 0 1rem;
  color: red;
  text-align: center;
  text-decoration: none;
  font-style: none;
}

.sidebar .button:first-of-type {
  padding-top: 2rem;
}
.sidebar p {
  max-width: 9ch;
}

.sidebar .current {
  border-left: green 0.5rem solid;
  background-color: black;
}

.sidebar p {
  font-size: 1.4rem;
  line-height: 1.2;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logo h1 {
  font-size: 2.4rem;
}

.usercard {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 4rem;
}

.usercard .icon {
  font-size: 3rem;
}

.searchbar {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 1px darkgray solid;
  width: 25rem;
}

.searchbar input {
  background-color: transparent;
  border: none;
  flex: 1;
  padding: 0.6rem;
}

.searchbar input:focus {
  outline: none;
}

.searchbar .icon {
  color: red;
  padding: 10;
  margin-right: 0.3rem;
}

.search {
  display: flex;
  align-items: center;
}

.search select {
  /* display: none; */
  /* background-color: DodgerBlue; */
  color: black;
  padding: 8px 16px;
  /* border: 1px solid transparent; */
  /* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
  border: 1px black solid;
  cursor: pointer;
}

.hide {
  display: none;
}

.cover {
  object-fit: fill;
  width: 100%;
  height: 20rem;
}
