@import "reset.css";

.grid.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-columns: 1fr 12fr;
}

.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  padding: 1rem 4rem;
  gap: 2rem;
  background-color: grey;
  overflow-y: scroll;
}

.book {
  background-color: white;
}
